/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

$nav-height: 80px;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  padding-top: $nav-height;
}

#root {
  height: 100%;
}

nav {
  height: $nav-height;
  background: white;
  .menu-button {
    display: none;
  }
  div {
    height: 100%;
  }

  a {
    color: black;
    cursor: pointer;
  }

  a.active {
    color: rgba(84, 45, 233, 1);
  }

  ul {
    width: 50%;
  }

  @media (max-width: 1024px) {
    ul {
      width: 80%;
    }
  }
}

.sidebar {
  display: none;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.w-70 {
  width: 70% !important;
}

.w-60 {
  width: 60% !important;
}

.gelasio {
  font-family: "Gelasio", serif;
}
.rubik {
  font-family: "Rubik", sans-serif;
}

.logo {
  font-size: 20px;
}

.menu-options {
  font-size: 13px;
  margin-bottom: 0;
}

/* HOMEPAGE */

.homepage {
  background: #53bacb;
  min-height: calc(100vh - #{$nav-height});
  display: flex;
  justify-content: center;

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    min-height: calc(70vh - #{$nav-height});
  }

  hr {
    color: white;
    height: 2px;
    background-color: white;
  }

  h1 {
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 160px;
    text-shadow: -1px 7px 5px rgba(0, 0, 0, 0.25);
  }
  h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

  .intro-row {
    position: absolute;
    bottom: 0;
  }

  .floating-icons {
    position: absolute;
    left: 0;
    background: #542de9;
    top: 35%;
    border-radius: 5px;
    height: 185px;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    font-family: "Gelasio", serif;
    justify-content: center;

    span {
      text-align: center;
      width: 30px;
      overflow: hidden;
      cursor: pointer;
      border: 2px solid white;
      height: 30px;
      border-radius: 50%;

      i {
        color: white;
        font-size: 15px;
        vertical-align: middle;
      }

      strong {
        display: none;
      }
    }

    span.email:hover::after {
      color: white;
      content: "Dhruvmc23@gmail.com";
      position: absolute;
      margin-top: -2px;
      margin-left: 10px;
      background: #542de9;
      padding: 2px 8px 2px 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 0;
      text-align: center;
      font-weight: bold;
      overflow: hidden;
      animation: fadeIn 0.5s 1;
      width: 230px;
    }

    span.instagram:hover::after {
      color: white;
      content: "@Dhruvm_23";
      position: absolute;
      width: 150px;
      margin-top: 0px;
      margin-left: 10px;
      background: #542de9;
      padding: 2px 8px 2px 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 0;
      text-align: center;
      font-weight: bold;
      animation: fadeIn 0.5s 1;
    }

    span.phone:hover::after {
      color: white;
      content: "+91 9711450509";
      position: absolute;
      width: 180px;
      margin-top: -2px;
      margin-left: 10px;
      font-weight: bold;
      background: #542de9;
      padding: 2px 8px 2px 15px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 0;
      text-align: center;
      animation: fadeIn 0.5s 1;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      // 50% {width: 115px !important} /* ignored */
      to {
        opacity: 1;
      }
    }
  }
}

.awards {
  h1 {
    color: rgba(165, 215, 223, 1);
    font-size: 22px;
    font-family: "Gelasio", serif;
  }

  .awards-purple-box {
    background: #3f2b89;
    padding: 5% 10%;

    ul {
      li {
        color: white;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        line-height: 2.2rem;
        padding-left: 10%;

        strong {
          color: white;
        }
      }
    }
  }
}

.photography {
  .image-container {
    border: 3px solid #3f2b89;
    margin: 30px 0px;
    padding: 15px 0px;

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }
  }

  .photo-brand {
    position: fixed;
    top: 40vh;
    background: #c8f7ff;
    left: 0;
    width: 150px;
    padding-left: 20px;
  }
}

.innovations {
  min-height: calc(100vh - #{$nav-height});

  .mobile {
    display: none;
  }

  .w-80 {
    z-index: 1;
    position: relative;
    padding-top: 1%;
    .tab-details-container {
      border-top: 5px solid #542de9;
      border-left: 5px solid #542de9;
      border-right: 5px solid #542de9;
      padding: 5% 8%;
      position: relative;

      h2 {
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
      }
      p {
        text-align: center;
      }
    }
  }

  .tabs-bg {
    background: #f1f1f1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 60vh;

    .tabs-container {
      position: absolute;
      padding: 10px 20px;
      display: flex;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: flex-end;
      justify-content: space-around;
      width: 80%;
      margin: 0 auto;

      .innovation-tab.active {
        background-color: rgba(83, 186, 203, 1);
        color: white;

        span {
          color: white;
          text-shadow: -1px 7px 5px rgba(0, 0, 0, 0.25);
        }
        img.missmistake {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
        }

        img.thezoroloo {
          background: linear-gradient(
            180deg,
            rgba(249, 249, 249, 0) 0%,
            rgba(232, 232, 232, 0) 90%,
            rgba(66, 66, 66, 0.2) 100%
          );
        }

        img.theos {
          background: linear-gradient(
            180deg,
            rgba(249, 249, 249, 0) 0%,
            rgba(232, 232, 232, 0) 90%,
            rgba(66, 66, 66, 0.2) 100%
          );
        }
      }

      .innovation-tab {
        background-color: transparent;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 8px;
        border: 3px solid #53bacb !important;
        min-height: 110px;
        outline: none;
        border-radius: 0px !important;

        span {
          color: rgba(83, 186, 203, 1);
          font-family: "Gelasio", serif;
          font-weight: bold;
        }
      }
    }
  }
}

.internships {
  .universe-row.mobile {
    display: none;
  }

  .universe-row {
    margin: 35px 0px;
    font-family: Rubik;
    .universe-image {
      width: 50%;
      background: #d2ebef;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 2px;
    }

    p:first-child {
      font-weight: bolder;
    }
    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  .internship-images-container.mobile {
    display: none;
  }
  .internship-images-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2px;

    img {
      margin: 2px;
    }
  }

  .boxes-row {
    margin-top: 35px;
    margin-bottom: 35px;

    .box {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      padding: 5px;
      font-family: Rubik;

      p {
        margin-bottom: 0px;
      }

      h4 + p {
        font-weight: 500;
      }
      h4 {
        margin-bottom: 0px;
      }

      div {
        padding: 25px 30px;
      }
    }

    .col-12:first-child .box {
      background-color: rgba(165, 215, 223, 1);
    }

    .col-12:nth-child(2) .box {
      background-color: rgba(241, 241, 241, 1);
    }

    img {
      width: 125px;
    }
  }
}

.stanford-summer {
  font-family: Gelasio;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  li {
    font-size: 14px;
  }
  .overview-section {
    background: #c8f7ff;
    padding: 30px 20px;

    h3 {
      color: #3d2696;
    }
  }

  .formal-methods {
    background: white;
    padding: 30px 20px;
    h3 {
      color: #3291a0;
    }
  }

  .smart-cities {
    background: #f1f1f1;
    padding: 30px 20px;
    h3 {
      color: rgba(84, 45, 233, 1);
    }
    video {
      width: 100%;
    }
  }

  .probability {
    padding: 30px 20px;
    padding: 20px;
    background: rgba(165, 215, 223, 0.5);
    h3 {
      color: rgba(0, 103, 120, 1);
    }
  }
}

@media (max-width: 1024px) {
  .innovations .tabs-bg {
    bottom: -10%;
  }
}

@media(max-width:990px){
    .homepage .intro-row .col-12{
      text-align: center;
    }
}

@media (max-width: 768px) {
  .awards.w-80 {
    width: 100% !important;
  }

  .photography.w-80 {
    width: 100% !important;
  }

  .internships.w-80 {
    width: 100% !important;
  }

  .innovations .tabs-bg .tabs-container {
    width: 100%;
  }

  .internships .universe-row .universe-image {
    width: 90%;
  }

  .internships .col-12.col-md-6 .w-60 {
    width: 100% !important;
  }

  .internships .boxes-row img {
    width: 85px;
  }

  .innovations .image-container img {
    width: 80%;
  }

  .innovations .w-80 {
    z-index: 1;
    position: relative;
    padding-top: 10%;
    width: 100% !important;
  }

  .innovations .tabs-bg .tabs-container {
    top: 30%;
    bottom: unset;
  }

  .homepage .intro-row {
    flex-direction: column;
    bottom: unset;
    top: 5%;

    .col-12 {
      text-align: center;
    }
  }
}



@media (max-width: 767px) {
  nav .menu-options {
    display: none !important;
  }

  nav .menu-button {
    display: block;
    background: white;
    border: none;
    font-size: 24px;
  }

  .sidebar {
    right: -500px;
    transition: right 0.4s ease-out;
    width: 100%;
    position: fixed;
    min-height: 100vh;
    z-index: 1000;
    border: 1px solid white;
    top: 0;
    display: block;
  }

  .sidebar a.active {
    color: rgba(84, 45, 233, 1);
  }

  .sidebar.active {
    right: 0px;
    transition: right 0.4s ease-in;
    background: rgba(84, 45, 233, 0.4);
  }

  .sidebar ul {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    padding-top: 80px;
    /* padding-bottom: 20%; */
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    font-family: Gelasio;
    /* color: black !important; */
    height: 100vh;
    background: white;
    width: 75%;
    margin-left: auto;
    margin-right: 0;
  }

  .sidebar ul a {
    color: black;
  }

  .innovations .tabs-bg {
    bottom: -50%;
  }

  .innovations .tabs-bg .tabs-container {
    flex-direction: column;
    align-items: center;
    top: unset;
    bottom: 0;

    .innovation-tab {
      margin: 10px 0px;
    }
  }

  .innovations .w-80 .tab-details-container h2 {
    font-size: 18px;
  }
  .innovations .w-80 .tab-details-container p {
    font-size: 14px;
  }

  .homepage h1 {
    font-size: 80px;
  }

  .homepage .intro-row img {
    width: 80%;
  }

  .internships .universe-row {
    .col-12 {
      text-align: center !important;
      margin-top: 15px;
    }
  }

  .awards .react-reveal.w-80 {
    width: 100% !important;
  }

  .photography .react-reveal.w-80 {
    width: 100% !important;
  }

  // .internships.w-80 {
  //   width: 100% !important;
  // }

  .photography .photo-brand {
    top: unset;
    bottom: 5vh;
    overflow-wrap: break-word;
  }

  .internships .internship-images-container.mobile {
    display: block;
  }
  .internships .internship-images-container.desktop {
    display: none;
  }

  .universe-row.mobile {
    display: flex !important;
  }

  .universe-row.desktop {
    display: none;
  }

  .innovations .mobile {
    display: unset;
  }

  .innovations .desktop {
    display: none !important;
  }
}
